<div class="container d-flex">
  <div class="pastel">
    <div class="row row-cols-1 row-cols-md-2 g-4 my-2">
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/101.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 21*16sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/102.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 21*16sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/104.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 16*21sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/105.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 16*21sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/106.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 16*21sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/107.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 16*21sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/108.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 21*16sm.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/pastel/103.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry pastel</h5>
            <p class="card-text">Pastelmat, 21*16sm.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
