<div class="container d-flex">
  <div class="about pt-4">
    <div class="row">
      <div class="col-8 offset-2 about-text">
        <h4>
          A person needs meaning, a goal to strive for.
          It’s important to understand why you woke up today and why you have to crawl out
          from under a warm blanket and leave the comfort of your bed.
          <br>
          <br>
          Creativity, for me, is an opportunity to interact with something or someone.
          It is a process of discovery, a revelation in the moment of creation that comes
          after a long period of contemplation.
          <br>
          <br>
          From what I’ve managed to understand by thirty: when everything around
          seems indecent or incomprehensible, you can always stop and take a pause.
          Read Hemingway’s “A Clean, Well-Lighted Place” or listen to Curtis Stigers – “Let’s Go Out Tonight”.
          Believe that getting lost in Van Gogh’s “The Cottages” is far better
          than getting lost in the chaos of modern reality.
        </h4>
      </div>
    </div>
  </div>
</div>
