<div class="container d-flex">
  <div class="oil">
    <div class="row row-cols-1 row-cols-md-1 g-4 my-2">
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/oil/301.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Open the door</h5>
            <h6 class="card-text">
              There’s nothing behind the door, but that “nothing” is far louder than you can imagine.
              So which door are you afraid to open?
            </h6>
          </div>
        </div>
      </div>
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
