<div class="contacts d-flex">
  <div class="container">
    <div class="row">
      <div class="container-fluid contacts-text">
        <div class="row">
          <hr class="my-2">
          <div class="col-3 offset-1 my-auto">
            <h4>ArtSunny</h4>
          </div>
          <div class="col-6 offset-sm-2 offset-1">
<!--            <h4>ArtSunny</h4>-->
            <h6>
              <a href="mailto:alexustasuaeaa@gmail.com" class="link-dark">alexustasuaeaa&#64;gmail.com</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
