<div class="container d-flex">
  <div class="events">
    <div class="row">
      <div class="col-6">
        <div class="col">
          <div class="card">
            <img src="../../assets/img/artsunny/events/e1/e105.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e101.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e102.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e103.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e104.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e107.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/img/artsunny/events/e1/e106.jpg" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h5>18.04.2025 KC Radionica, Belgrade, Serbia.</h5>
        <h6>
          You know, man, the soul isn’t tied to the body — it’s tied to the place a person calls home.
          That’s why an American working in Beijing eats baozi for breakfast while reading about debates in Congress.
          A Russian in Hanoi, sipping rou run in the evening, shakes his head at the latest laws passed by the Duma.
          And that’s why a Serb who’s spent twenty years in America types “JBT” in a message after reading news from
          Belgrade and washes it down with bourbon instead of rakia.
          <br/>
          <br/>
          When someone loses their country, their soul lingers in the airport, lost in the crowd of goodbyes,
          before boarding a flight with no real destination. They try to settle in, to make a home elsewhere,
          but there’s always that emptiness — where the soul used to be. Some ignore it. Some drown it in love or liquor.
          Others try to capture it, in words or on canvas.
          <br/>
          <br/>
          This exhibition explores that void, an attempt to capture the state of “nowhere” — a space where the soul,
          having lost its footing, searches for itself in lines, colors, and shapes. There are no clear boundaries
          here — just as there are none between home and exile, memory and oblivion.
          Each visitor arrives with their own “nowhere,” and perhaps, in this emptiness,
          something new is born: a dialogue, an understanding, or simply the quiet contemplation of
          something that has always been inside, yet remained unspoken.
        </h6>
      </div>
    </div>
  </div>
</div>
