<div class="container d-flex">
  <div class="charcoal">
    <div class="row row-cols-1 row-cols-md-1 g-4 my-2">
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/artsunny/charcoal/401.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Odyssey</h5>
<!--            <h6 class="card-text">-->

<!--            </h6>-->
          </div>
        </div>
      </div>
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/302.jpg" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Plant-man</h5>-->
<!--            <h6 class="card-text">-->
<!--              Water strictly on schedule. Blooming is prohibited. Photosynthesis is not paid.-->
<!--            </h6>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        <div class="card">-->
<!--          <img src="../../../assets/img/artsunny/oil/" class="card-img-top" alt="...">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Oil</h5>-->
<!--            <p class="card-text"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
