.img-logo {
  width: 70px;
}

.img-nav {
  width: 120px;
}

.img-nav1 {
  width: 115px;
}

.img-nav2 {
  width: 130px;
}

.img-nav3 {
  width: 45px;
}

.img-nav4 {
  width: 85px;
}

.img-nav5 {
  width: 190px;
}

.img-nav6 {
  width: 140px;
}

.navbar-info {
  z-index: 1;
}
