/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Ruthie-Regular.ttf');
}

@font-face {
  font-family: 'MyFontTwo';
  src: url('./assets/fonts/Sketchy.ttf');
}

body {
  h2 {
    font-family: 'MyFont';
    font-size: 3em;
    color: black;
    opacity: 1;
    &:hover {
      opacity: 0.75;
    }
  }
}
